:root {
  --primary: #d4af37;
  --dark: #0a100d;
  --light: #fff;
}

.pagination-pages-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.pages-custom {
  list-style: none;
  color: var(--dark);
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 2px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-link-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  user-select: none;
  outline: none;
  color: var(--dark);
}

.page-link-custom:hover {
  color: var(--dark);
}

.break-link-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  user-select: none;
}

.break-link-custom:hover {
  color: var(--dark);
}

.break-me-custom {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.active-custom {
  background-color: var(--primary) !important;
  margin-left: 2px;
  margin-right: 2px;
  border: 1px solid var(--primary);
  color: var(--light);
  font-weight: 600;
}

.prev-custom {
  height: 40px;
  border: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 4px;
  margin-right: 10px;
  width: 80px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-custom {
  height: 40px;
  border: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 4px;
  margin-left: 10px;
  width: 80px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev-link-custom {
  height: 40px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  outline: none;
}

.prev-link-custom:hover {
  text-decoration: none !important;
  color: var(--primary);
}

.prev-link-custom:active {
  background-color: var(--primary);
  color: var(--light);
}

.next-link-custom:hover {
  text-decoration: none !important;
  color: var(--primary);
}

.next-link-custom:active {
  background-color: var(--primary);
  color: var(--light);
}

.next-link-custom {
  height: 40px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  outline: none;
}

.pag-large-custom {
  display: block;
}

.pag-small-custom {
  display: none;
}

@media (max-width: 795px) {
  .pages-custom,
  .page-link-custom,
  .break-me-custom,
  .break-link-custom {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
  .next-custom,
  .next-link-custom,
  .prev-custom,
  .prev-link-custom {
    height: 30px;
    width: 70px;
    font-size: 14px;
  }
}

@media (max-width: 547px) {
  .pages-custom,
  .page-link-custom,
  .break-me-custom,
  .break-link-custom {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
  .next-custom,
  .next-link-custom,
  .prev-custom,
  .prev-link-custom {
    height: 20px;
    width: 60px;
    font-size: 12px;
  }
  .pag-large-custom {
    display: none;
  }
  .pag-small-custom {
    display: block;
  }
}
